!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(name="description", content="Control a RC car over the web with node.js, Arduino and WebSockets.")
    meta(name="author", content="Henrique Vicente")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap-responsive.min.css")
    //if lt IE 9
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="../assets/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="../assets/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="../assets/ico/apple-touch-icon-57-precomposed.png")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/")= title
          .nav-collapse
            ul.nav
              li.active
                a(href="/") Home
              li
                a(href="https://github.com/henvic/rcarweb") Get the code &amp; do it
  block content
  a.github-ribbon.visible-desktop(href="https://github.com/henvic/rcarweb")
    img(src="/images/github-ribbon.png", alt="Fork me on GitHub")
  script(src="/vendor/jquery-1.7.2.min.js")
  script(src="/vendor/bootstrap/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/client.js")
