@videoWidth: 640px;
@videoHeight: 360px;

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

section {
    padding-top: 60px;
}

//avoids the 'Fork me on GitHub' ribbon to hide the about text
@media all and (min-width : 984px) {
	.about {
		padding-right: 70px;
	}
}

.space {
    position: absolute;
    z-index: 1;
	width: @videoWidth;
	height: @videoHeight;
	background: rgba(246, 246, 246, 0.9);
}

.space, .video-stream {
	max-width: 100%;
	max-height: 100%;
}

.github-ribbon {
	img {
	    position: absolute;
	    top: 42px;
	    right: 0;
	    border: 0;
	}
}

.progress-size-limit {
	max-width: @videoWidth;
}

.rc-btn-cam {
	width: 155px;
}

.transceiver-indicator {
	opacity: 0.5;
}
